@model AutoTradeAndRentPlatform.ViewModels.Sales.EditVMcs
@{
    Layout = "~/Views/Shared/SiteLayout.cshtml";
}
<fieldset>
    <legend>Sales</legend>

    <form action="/Sales/Edit" method="post">
        @Html.HiddenFor(m => m.EmployeeId)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Id)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Id)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Id, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CarId)
                </td>
                <td>
                    @Html.EditorFor(m => m.CarId)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CarId, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CarName)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.CarName)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CarName, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.CustomerId)
                </td>
                <td>
                    @Html.EditorFor(m => m.CustomerId)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.CustomerId, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.SaleDate)
                </td>
                <td>
                    @Html.EditorFor(m => m.SaleDate)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.SaleDate, null, new { style = "color:red" })
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="float:right;" type="submit" value="Save" />
                    <a href="/Sales/Index">Back to list</a>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</fieldset>



